<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
</head>
<body>
    <div class="d-flex justify-content-center">
        <a href="/">Home |</a>
        <a href="Projects">Projects |</a>
        <a href="Contact">Contact</a>
    </div>
    <h1>Let's get in touch!</h1>
    <form action="">
        <label for="fullName">Name</label>
        <input type="text" name="fullName" id="">
        <label for="email">Email</label>
        <input type="text" name="email" id="">
        <label for="message">Message</label>
        <textarea type="textarea  " name="message" id=""></textarea>
        <button class="btn btn-primary">Submit</button>
    </form>
</body>
</html>